<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
    </aside>
  </div>
<% else %>
  <div class="center hero-unit">
    <h1>Welcome to E-Learning</h1>

    <h4>
      Learning English Words Easy
    </h4>

    <div style="padding-top: 15px;">
      <%= link_to "Sign up now!", signup_path,
                                  {:class => "primary-link"} %>
    </div>
  </div>
<% end %>
